<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.user.maevis">

    <!-- permission in accessing the gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- permission in accessing the camera and gallery -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/maevis_logo3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadingScreeen" />
        <activity
            android:name=".SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SelectionPage" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBpC7m_kocZucVu6QI_5h9Bk3paSS2ibQI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".UploadReport"
            android:label="Upload Report"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sidebar_HomePage"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".VerifyReport"
            android:label="Verify Report" />

        <activity
            android:name=".SidebarProfile"
            android:label="Profile" />

        <activity
            android:name=".SidebarHelp"
            android:label="Help" />
        <activity
            android:name=".SidebarSettings"
            android:label="Settings" />
    </application>

</manifest>